#individualParkCard {
font-family: 'Poppins', sans-serif;
}

#parkCardImage {
    height: 200px;
    width: 267px;
    display: flex;
    justify-content: center;
    /* background-size: cover;
    background-position: center; */
}

#parkCardHeader {
    font-family: 'Poppins', sans-serif;
}

#parkCardDescription {
    font-family: 'Poppins', sans-serif;
}

#parkCardProfileButton {
    font-family: 'Poppins', sans-serif;
    background-color: #6C7453;
    color: white;
}

#parkCardProfileButton:hover {
    background-color: #9da581;
    color: black;
}

#parkCardGroup {
    padding: 50px;
}

#bannerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: -20px;
    overflow: hidden;
    /* border: solid black; */
}

#parkBannerImage, #parkProfileCardImage {
    display: block; /* Set display to block */
    width: 1920px; /* Ensure the image doesn't exceed the container width */
    height: 300px;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    margin: -20px;
}
#addressSegment {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

#parkListHeader {
    margin-top: 70px;
    margin-left: 45px;
    font-size: 40px;
}

