#MyReviewListContainer {
    padding: 50px;
}

#polaroid {
    /* width: 80%; */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border: solid white 5px;
}

#polaroidContainer {
    /* display: flex;
    justify-content: center;
    padding: -10px; */
    /* width: 100%; */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

#individualReviewCard {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    background-color: #85984c2b
}

#individualReviewCardAll {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    background-color: #e4a08944;
}


#tripReviewHeader {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 30px;
}

#createAReviewForm {
    padding: 45px;
    padding-top: 25px;
    font-family: 'Poppins', sans-serif;
}

#reviewFormHeader {
    padding-top: 45px;
    padding-left: 45px;
    font-family: 'Poppins', sans-serif;
    border: none;
    box-shadow: none;
}

#h2 {
    font-family: 'Poppins', sans-serif;
}

#h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

#button, #createButton {
    background-color: #6C7453;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#myReviewsSegment {
    display: flex;
    justify-content: space-between;
    border: none;
    box-shadow: none;
}

#cardEditButton {
    margin-top: 10px;
    margin-right: 10px;
    color: white;
    background-color: #E4A089;
}
/* font-family: 'Poppins', sans-serif; */